.image-container {
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px gray;
}

/* Esconde o input original */
.input-file-container input[type="file"] {
  display: none;
}

/* Estiliza a Label como o botão real */
.btn-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  border: none;
  margin-bottom: 32px;
  gap: 8px;
  padding: 8px;
  color: rgb(159, 106, 244);   
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
}

#zoom-image {
  transition: transform 0.1s ease-out; /* Suaviza o movimento */
    transform-origin: center; /* Opcional: define de onde o zoom parte */
    max-width: 100%;
}